body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#fps {
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2em;
}

#canvas_1 {
  width: 900px;
  height: 600px;
  background-color: white;
}
